<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>(DML) AySA - Direcci&oacute;n Desarrollo de la Comunidad</title>
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/datatables/datatables.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/editor/css/editor.dataTables.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/editor/css/editor.bootstrap.min.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <script src="{{url_for('static', filename='vendor/jquery/jquery-2.2.3.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/datatables/datatables.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/editor/js/dataTables.editor.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/editor/js/editor.bootstrap.min.js')}}"></script>
    <script>
        $(document).ready(function(){

        });
    </script>
</body>
</html>